<select class="browser-default" name="burgerInput">
  <option value="" disabled selected>Choose a burger</option>

  {{#each dropdown}}
    {{#if entree}}
      <option value={{this.id}}>{{this.item}}</option>
    {{/if}}
  {{/each}}

</select>